body{
    background-color: #FFEBB2;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    width: 200px;
    height: 30px;
    text-align: center;
}

img{
    height: 30%;
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.how{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

}

.how > div {
    background-color: #E9A89B;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;

