<<<<<<< Updated upstream
.header {
    background-color: #3B1E54;
    color: white;
}


body{
    background-color: #EEEEEE;
}

.pages{
    padding: 10px;
}


img{
    height: 30%;
    width: 300px;
    border: solid beige;
    border-radius: 10px;
    margin: 10px; 
}   

.picture{
    display: flex;
    justify-content: left; 
    align-items:center; 
    flex-wrap: wrap; 
    padding: 10px;
}

.navlink{
    display: flex;
    gap: 20px;
    background-color: #db803a;
    height: 30px;
    width: 300px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    border: solid black;
=======
body{
    background-color: #FFEBB2;
>>>>>>> Stashed changes
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    width: 200px;
    height: 30px;
    text-align: center;
}

<<<<<<< Updated upstream
.footer{
    margin-bottom: 0%;
    background-color: black;
    color: white;
    ;
}

blockquote { 
    display: block;
    margin-left: 0px;
    font-style: italic;
    color: #F97300;
}




=======
img{
    height: 30%;
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.how{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

}

.how > div {
    background-color: #E9A89B;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
{
>>>>>>> Stashed changes
