body {
    /* Start Samara's contribution */
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 800px auto;
    background-color: #e0afa0;
    /* End Samara's contribution */
    /* Laarni's contribution: Update background-color */
    /* Start Laarni's contribution*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* End Laarni's contribution*/
}
/* Start Laarni's contribution*/
html, body {
    height: 100%;
  }
/* End Laarni's contribution*/

.top {
    /* Start Samara's contribution */
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #bcb8b1;
    background-color: #463f3a;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
    /* End Samara's contribution */
    /* Laarni's contribution: Update background-color */
}

header {
    /* Start Samara's contribution */
    display: block;
    background-color:#bcb8b1;
    height: 50px;
   /* End Samara's contribution */
   /* Laarni's contribution: Update background-color */
}

footer{
    background-color: #8a817c;
    /* Start Laarni's contribution*/
    margin-top: auto;
    /* End Laarni's contribution*/
}

nav{
    /* Start Samara's contribution */
    height: 50px;
    
    /* End Samara's contribution */
}

.navbar{
    /* Start Samara's contribution */
    position: sticky;
    top: 0px;
    /* End Samara's contribution */
}

.navclass{
    /* Start Samara's contribution */
    position:static;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* End Samara's contribution */
}

.navlinks{
    /* Start Samara's contribution */
    list-style: none;
    display: inline-block;
    justify-items: center;
    align-items: center;
    padding-inline-start: 0px;
    margin: auto;
    /* End Samara's contribution */
}


a:link	{
    /* Start Samara's contribution */
    display: block;
    /* End Samara's contribution */
}


.button {
    /* Start Samara's contribution */
    background-color: #8a817c;
    border: 2px solid;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
    color: #463f3a;
    /* End Samara's contribution */
    /* Laarni's contribution: Update background-color */
}

/* Start Samara's contribution */
/* Creating menu that will apear when the screen width is <=751px */
ul.shortscreen{
    padding-inline-start: 0px;
    position:relative;
    padding-left: 5%;
}

.shortscreen1 {
    list-style: none;
    display: none;
}

/* Short screen pages's menu */
.dropdowpages1{
    position: absolute;
    display: none;
}

.dropdowpages1 a{
    display: block;
    background-color: #463f3a;
    align-items: center;
    width: 105px;
    text-decoration: none;
    color: #f4f3ee;
}

.dropdowpages1 a:hover{
    background-color: #bcb8b1;
}

.shortscreen1:hover .dropdowpages1{
    display: block;
    align-items: first baseline;
}

@media screen and (width <= 751px) {
    .navlinks{
        display: none;
    }
    .shortscreen1{
        display: inline-block;
    }
}
/* End Samara's contribution */
