.header {
    background-color: #3B1E54;
    color: white;
}

body{
    background-color: #EEEEEE;
}

.pages{
    padding: 10px;
    background-color: #D4BEE4;
}

img{
    height: 30%;
    width: 300px;
    border: solid beige;
    border-radius: 10px;
    margin-top: 10px;
}   

.picture{
    display: flex;
    justify-content: left; 
    align-items:center; 
}

.navlink{
    display: flex;
    gap: 20px;
    background-color: #F8D082;
    height: 18px;
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    border: solid #3B1E54;
    text-align: center;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    width: 200px;
    height: 30px;
    text-align: center;
}

.footer{
    margin-bottom: 0%;
    background-color: black;
    color: white;
}

blockquote { 
    display: block;
    margin-left: 0px;
    font-style: italic;
    color: #F97300;
}




