/* ====== Color Scheme ====== */
:root {
    --header-bg-color: #fdd0e7;
    --header-link-color: #45008B;
    --aside-bg-color: #8B008B;
    --btn-bg-color: #45008B;
    --btn-bg-hover-color: #28014e;
    --btn-text-color:#ECE9F0;
    --btn-border-color: #45008B;
    --body-bg-color: #ECE9F0;
    --body-h1-color: #8B008B;
    --body-h2-color: #45008B;
    --footer-bg-color: #fdd0e7;
    --footer-text-color: #45008B;
    --footer-border-top-color: #45008B;
    --link-hover-color: #67C0E5;
}

/* ====== General ====== */
body {
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--link-hover-color);
}


h1{
    color: var(--body-h1-color);
}
h2{
    color: var(--body-h2-color);
}

ul {
    list-style: none;
}

/* ====== Header ====== */
.header__SM {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 74px;
    padding: 0px;
    margin: auto;
    background-color:var(--header-bg-color);
}

.header__SM a{
    color: var(--header-link-color);
}

.header__SM a:hover{
    color: var(--link-hover-color);
}

/* Overwriting some bootstrap values */
header div .col {
    margin-left: 2%;
    padding-right: 1px;
    min-width: 125px;
}

 .col-10 {
    width: 80vmax; /*Keep itens ocuppying 80 of 100 from screen's view */
    padding-right: 20%;
    padding-left: 20%;
}
/* Finish Overwriting some bs values */

header ul {
    list-style: none;
    margin: 2px;
}

header ul li {
    width:max-content;
    padding: 0% 10% 0% 10%;
}

#MonaProfile, #TenleyProfile, #MaxwellProfile, #RockyProfile {
    width: 46px;
    height: 46px;
}

@media screen and (width <= 1200px){
    .col-10{
        padding-left: 0%;
    }
    header div .col {
        width: 90px;
    }
}

@media screen and (width <= 768px){
    .col-10{
        padding-left: 0%;
    }
    header div .col {
        min-width: 90px;
    }
}

@media screen and (width <= 630.40px){
    header ul {
        padding: 0px;
    }
    .col-10{
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
    }
    header div .col {
        width: 90px;
    }
    header ul li {
        padding-inline: 1%;
    }
}

@media screen and (width <= 560px){
    header ul {
        padding: 0px;
    }
    .col-10{
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
    }
    header div .col {
        width: 90px;
    }
    header ul li {
        width:fit-content;
        padding-inline: 1px;
    }
}

@media screen and (width <= 400px){
    header ul {
        padding: 0px;
    }
    .col-10{
        width: 80%;
        padding-right: 10%;
        padding-left: 0%;
    }
    header div .col {
        width: 90px;
    }
    header ul li {
        width:fit-content;
        padding-inline: 1px;
    }
}

/* ====== Aside ====== */
.sidebar {
    position: fixed;
    top: 74px;
    bottom: 59.5px;
    width: 25%;
    padding: 0.5%;
    overflow: auto;
    background-color: var(--aside-bg-color);
}

/* Overwriting some bootstrap values */
.container ul{
    width: 100%;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-block-end: 5%;
    margin-block-start: 5%;
}

.nav-item.col-md-4{
    width: max-content;
    padding-right: 1%;
    padding-left: 5%;
}
.nav-item.col-md-3{
    width: max-content;
    padding-right: 1%;
    padding-left: 5%;
}
.nav-item.col-md-5{
    width: max-content;
    padding-right: 1%;
    padding-left: 5%;
}

.container .btn{
    padding: 5%;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

.container .btn:hover{
    background-color: var(--btn-bg-hover-color);
}

@media screen and (width <= 1300px) {
    .container li{
        padding: 2% 10%;
    }
}

@media screen and (width <= 768px) {
    .container li{
        padding: 2% 10%;
    }
}
/* Finish Overwriting some bs values */

#internal-link1, #internal-link2 {
    scroll-margin-top: 94px;
}

#card.container{
    padding-inline-start: 0%;
    padding: 0% 5% 0% 5%;
}

.card {
    width: 100%;
    margin-bottom: 5%;
    
}

.card img {
    width: 100%;
    height: 150px;
}

.card-body {
    padding: 5px;
    background-color: var(--body-bg-color);
}

/* ====== Main ====== */
#main{
    margin: 86px 0px 59.5px 25%;
    padding: 20px 15px;
}

/* Carousel */
#myCarousel.container {
    padding: 0% 15% 0% 15%;
    background-image: url("./catbackground3.png");
}

#myCarousel {
    width: 100%;
    height: 400px;
}

.carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 400px;
}
/* End Carousel */

/* Form */
.form-control#FName,#LName{
    width: 40%;
}

.input-group{
    width: 65%;
}

/* Overwriting some bootstrap values */
.form-btn__SM{
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

.form-btn__SM:hover{
    background-color: var(--btn-bg-hover-color);
}
/* Finish Overwriting some bs values */

/* End form */

/* ====== Footer ====== */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--footer-border-top-color);
}

.footer .copyright {
    text-align: center;
    color: var(--footer-text-color);
}

.footer .credits{
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--footer-text-color);
}
