/* ~~~ Header ~~~ */
header{
    justify-content: center;
    position: sticky;
    top: 0px;
    width:100%;
    z-index: 2;
    height: 84px;
    margin: auto;
}

header div .col {
    margin-left: 2%;
    padding-right: 1px;
    min-width: 90px;
}

header ul li {
    width:max-content;
    padding: 0% 10% 0% 10%;
}

.col-10 {
    width: 90vmax; 
    padding-right: 20%;
    padding-left: 20%;
}
header ul {
    list-style: none;
    margin: 2px;
}

header ul li {
    width:max-content;
    padding: 0% 10% 0% 10%;
}

#MonaProfile, #TenleyProfile, #MaxwellProfile, #RockyProfile {
    width: 46px;
    height: 46px;
}

a:link	{
    display: inline-block;
    text-align: center;
}

ul.navlinks{
    padding-inline-start: 0px;
}


/* ~~~ Side Bar ~~~ */
.sidebar{
    height: 100%; 
    width: 30%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left:10px;
    padding-right:10px;
    overflow-y:hidden ;
}

.sidebar .row{
    padding-top:10px;
}

.container{
    margin-top:20px;
    margin-bottom:200px;
}



/* ~~~ Main Content ~~~ */
body{
    --bs-body-bg: #778899;
}

main{
    padding-left:35%;
    padding-top:50px;
    width:95%;
    margin-bottom:40%;
}

h1{
    justify-content: center;
    height: auto;
    margin: 2%;
    padding: 2%;
}

h2{
    padding-bottom:20px;
}

p{
    height: auto;
    margin: 2%;
    padding: auto;
}

#myCarousel{
    width:300px;
    float:right;
    z-index: 0;
    padding-left: 20px;
    padding-right:20px;
}


/* ~~~ Footer ~~~ */
.footer {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    /* background-color: var(--footer-bg-color);
    border-top: 1px solid var(--footer-border-top-color); */
    /* padding-left:20px;
    padding-top:20px; */
    bottom:0;
    z-index: 2;
}

.footer .copyright {
    text-align: center;
    color: var(--footer-text-color);
}

.footer .credits{
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--footer-text-color);
}


/* ~~~ shortscreen navs ~~~*/
.button{
    background-color: #778899;
    border: none;
    border-radius: 10px;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    display: inline-block;
    width: 95px;
    
}

.navlinks1 {
    display:none;
}

#myCarousel, #Biograpy {
    scroll-margin-top: 100px ;
}


/* ~~~ Media Queries ~~~ */
@media screen and (width <= 1300px){
    .sidebar{
        padding-top:60px;
    }
}

@media screen and (width <= 1000px){
    .navlinks1{
        display:inline-block;
    }

    header div .col {
        min-width: 90px;
    }

    #myCarousel{
        padding-bottom:20px;
        width:95%;
    } 

    .sidebar{
        padding:100px 0px 0px 0px;
        overflow: scroll;
    }
    .row{
        padding-top:0px;
    }
    .card{
        width:150px;
    }

}

@media screen and (width<=768px){
    #burgerMenu{
        padding-bottom:10px;
    }
    .col-10{
        padding-left: 0%;
    }
    header div .col {
        min-width: 90px;
    }
}

@media screen and (width <= 600px) {
    .card{
        width:100%;
    }
    .card-title{
        display:none;
    }
    
    #myCarousel{
        padding-left:0px;
        padding-right:0px;
        width:100%;
    }
    header ul {
        padding: 0px;
    }
    .col-10{
        width: 80%;
        padding-right: 10%;
        padding-left: 0%;
    }
    header div .col {
        width: 90px;
    }
    header ul li {
        width:fit-content;
        padding-inline: 1px;
    }


}