/* Formating the shape of how the page appear in screen  - body container*/
body {
    width: 80%;
    max-width: 1200px;
    margin: auto auto 300px auto;
}

/* Formatimg the height of the internal main container.
changing this value will reduce or increase the blanck space 
between the footer and the last line of content in the page.
id = 'container' set in the body element */
#container{
    height: 1800px;
}

/* Formating the first container created with a div element inside the main element.
This code is formating the container that has the title of the page "Baking Bread".
The configurations for the text formating in this container is inside the h1 element css. 
The background image here can be changed or removed in each page*/
#title {
    margin: 0px;
    padding: 19.920px;
    background-image: url(../images/bread.png);
    
}

h1 {
    text-align: center;
    color: rgb(0, 38, 135);
    justify-content: center;
    font-size: 42px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    background-color: rgba(231, 229, 229, 0.4);
    
}

h2, h3 {
    color: rgb(0, 38, 135);
}

/* Its using flex box - Formating the class 'top' inside the tag aside. It's the fist text that appears in my page,
before the nav bar. This was before the header element, so it were moved to after the 
header element so the header will always stick to the top of the page.*/
.top {
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
}

/* General formating of the the header element.
The background color can be changed of each page.*/
header{
    display: block;
    background-color:aliceblue;
    height: 50px;
}

/* Setting the height of the nav bar element */
nav{
    height: 50px;
}

/* moved down */
/* ul.navlinks{
    padding-inline-start: 0px;
} */

/* li.navlinks{
    text-align: center;
} */

/* General formating of the class 'navbar' set in the header element */
.navbar{
    position: sticky;
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center; cannot use this properties with dislay block */
    /* height: fit-content; */
    /* top: -0.0625rem; */
    top: 0px;
    /* left: 0;
    right: 0; */
    /* right: -10px; */
}

/* General configuration of the links in the nav bar.
This is setting the position of the rectangles the links are in.
It's using flexbox */
.navleft{
    position:static;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* General configuration of the ul (list) element in the nav bar */
ul.navlinks{
    padding-inline-start: 0px;
}

/* Formating the position of the links inside the rectangles */
.navlinks, .navlinks1{
    list-style: none;
    display: inline-block;
    justify-items: center;
    text-align: center;
}

/* li {
    display: inline-block;
    justify-items: center;
    align-items: center;
    
} */

/* Formating the color of the link.
This can be changed in each page.
It's also formating the position */
a:link	{
    /* box-sizing: inherit; */
    display: inline-block;
    color: rgb(170, 44, 156);
    text-align: center;
    
}

/* Formating the color of the link that has already been clicked.
This can be changed in each page. */
a:visited{
    color: rgb(170, 44, 156);
}

/* Formating the color of think when you pass the mouse over it.
This can be changed in each page. */
a:hover{
    color: rgb(209, 31, 90);
}

/* General formating of each li element inside the ul list.
The color here can be changed in each page. */
.button{
    background-color: rgb(229, 158, 221);
    border: none;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
}

/* I changed somethin and this fomating is not been used. */
#menu.button{
    padding: 0px;
    height: 25.4;
}

/* Formating of the cupcake image in the nav bar.
This will be removed, probably.
It is using flexbox. */
#cupcakepng{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Internal links formating - drop down menu*/
#internal-link0, #internal-link1, #internal-link2, #internal-link3, #internal-link4, #internal-link5 {
    scroll-margin-top: 60px ;
}

/* Formating dropdow menu of the "Sections" button */
.dropdowncontent{
    position: absolute;
    display: none;
    align-items: center;
    /* justify-content: center; */
}

/* Formating the links of the 'Sections' button */
.dropdowncontent a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

/* Formating the links of the 'Sections' button
when you pass the mouse over it.
The color can be changed in each page. */
.dropdowncontent a:hover{
    background-color: rgb(229, 158, 221);
}

/* Formating the internal links of the drop down menu 
when you pass the mouse over it. */
.navlinks1:hover .dropdowncontent{
    display: block;
    align-items: first baseline;
}

/* formating element "details". This is my element not covered in class */
details {
    border: 1px solid rgb(0, 38, 135);
    border-radius: 4px;
    /* padding: 0.5em 0.5em 0; */
    color: white;
    background-color: rgb(0, 38, 135);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  
  summary {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: -0.5em -0.5em 0; */
    padding: 0.2em;
  }
  
  details[open] {
    padding: 0,5em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  
  details[open] summary {
    border-bottom: 1px solid rgb(229, 158, 221);
    margin-bottom: 0.5em;
  }

  /* Formating the table */
table{
    width: 75%;
    margin: auto;
}

table, td, th {
    /* column-width: 200px; */
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#hrow1, #hrow2 {
    color: rgb(243, 238, 238);
    background-color: rgb(47, 43, 43);
}

th {
    background-color: rgb(247, 182, 192);
}

/* td, th{
    text-align: center;
} */

tbody tr:nth-child(even) {
    background-color: #dddddd;
}

/* Criating menu that will apear when the screen width is <=751px */
ul.shortscreen{
    padding-inline-start: 0px;
    position:relative;
    right: 100px;
}
.shortscreen1, .shortscreen2 {
    list-style: none;
    display: none;
    /* display: inline-block; */
}

/* Short screen Section's menu */
.dropdowsections2{
    position: absolute;
    display: none;

}

.dropdowsections2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowsections2 a:hover{
    background-color: rgb(229, 158, 221);;
}

.shortscreen1:hover .dropdowsections2{
    display: block;
    align-items: first baseline;
}

/* Short screen pages's menu */
.dropdowpages2{
    position: absolute;
    display: none;
}

.dropdowpages2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowpages2 a:hover{
    background-color: rgb(229, 158, 221);;
}

.shortscreen2:hover .dropdowpages2{
    display: block;
    align-items: first baseline;
}

@media screen and (width <= 751px){
    .navlinks{
        display: none;
    }
    .shortscreen1, .shortscreen2 {
        display: inline-block;
    }
}

/* Formating footer.
The colours can be changed in each page */
footer{
    padding: 1px 0px 0px 0px;
    height: 122px;
    color: white;
    background-color: rgb(0, 38, 135);
    margin-top: 30%;
    margin-bottom: 0px;
}

footer div ul{
    list-style: none;
}
