/* Table values */
table {
            border: 10px solid #000000;
            border-collapse: collapse;
            border-style: double;
            width: fit-content; 
            height: 350px;
            margin: auto;
            padding: 15px;            
        }
    caption{
            font-size: xx-large;
            }

    th {
            border-width: 3px;
            border-style: solid;
            border-color: #000000;
            column-width: auto;
            text-align: center;
            font: bold;
        }
    td{
        border-width: 3px;
        border-style: solid;
        border-color: #000000;
        text-align: center;
        font: bold;
        }
    ol{
        text-align: left;
        font-size: large;
}
/* ids and classes for Tables */
.column-c{
    background-color: #8a817c;

}
.row-c{
    background-color: #bcb8b1;
}
.row-c2{
    background-color: #463f3a;
    color: #e0afa0;
}
.note-c{
    background-color: #e0afa0;
}
#smallTable{
    color: #000000;
    
}

/* Multi-column and Grid, new content */
.multi-col{
    max-width: 1800px;
    margin: 0 auto;
    column-width: 300px;
    column-rule: 5px solid #000000;
    column-gap: 20px;
    column-count: 2;
}

.photo-grid{
    display: grid;
    grid-template-areas: 
    "p1  p1  p2  p2"
    "c1  c1  c2  c2"
    " .   .   .   ."
    "p3  p3   .   ."
    "p3  p3   .   ."
    "c3  d3   .   ."
    ;
    grid-template-columns: auto;
    gap: 20px;
}

#Px1{
    grid-area: p1;
    border-radius: 20px;
}
#Px2{
    grid-area: p2;
    border-radius: 20px;
}
#Px3{
    grid-area: p3;
    border-radius: 20px;
}
#Cx1{
    grid-area: c1;
}
#Cx2{
    grid-area: c2;
}
#Cx3{
    grid-area: c3;

}
/* Image and Text Values */
img{
    display: block; 
    margin: 20px; 
    width: 50%;
}
caption{
    color: #e0afa0;
}
h1, h2{
    font-size: xx-large;
    text-align: left;
}  
p{
    font-size: 20px;
    column-span: all;
    text-align: left;
}
ol{
    font-size: 20px;
}
/* image and text classes/ids */
#float-img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    float: right; 
            
}
.top {
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #e0afa0;
    background-color: #8a817c;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
    align-items: center;
}
.pie-button{
    background-color: #463f3a;
    color: #e0afa0;
    border-radius: 15px;
}
/* body, headers, p, etc, Values */
body {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: #f4f3ee;
    color:#463f3a;
    height: auto;
    display: block;
}

header{
    display: block;
    background-color:#8a817c;
    height: 50px;
}
a:link	{
    display: inline-block;
    color: #000000;
    text-align: center;
}

a:visited{
    color: #000000;
}

a:hover{
    color: #463f3a;
}

/* navigation bar ids/classes and set values */

nav{
    height: 50px;
    position:static;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#bcb8b1;
}
.navbar{
    position: sticky;
    top: 0px;
}

/* NavBar media queries classes/ids  */
ul.navlinks{
    padding-inline-start: 0px;
}
.navlinks, .navlinks1{
    list-style: none;
    display: inline-block;
    justify-items: center;
    text-align: center;
}
.button{
    background-color: #e0afa0;
    border: none;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
}
/* Formatting dropdown menu of the "Sections" button */
.dropdowncontent{
    position: absolute;
    display: none;
    align-items: center;
}

/* Formatting the links of the 'Sections' button */
.dropdowncontent a{
    display: block;
    background-color: #bcb8b1;
    align-items: center;
    width: 105px;
    text-decoration: none;
}
.dropdowncontent a:hover{
    background-color: #463f3a;
}
#menu2.button{
    padding: 0px;
    height: 25.4px;
}


#toppage, #PiceCrust, #PieFilling, #PieGrid, #PieButton {
    scroll-margin-top: 60px ;
}

.navlinks1:hover .dropdowncontent{
    display: block;
    align-items: first baseline;
}
/* End of big NavBar */

/* Small Scree adjustment for NavBar, associated classes/ids */
ul.shortscreen{
    padding-inline-start: 0px;
    position: sticky;
    right: 100px;
    
}
.shortscreen1, .shortscreen2 {
    list-style: none;
    display: none;
}
/* Short screen Section's menu */
.dropdowsections2{
    position: absolute;
    display: none;

}
.dropdowsections2 a{
    display: block;
    background-color: #8a817c;
    align-items: center;
    width: 105px;
    text-decoration: none;
}
.dropdowsections2 a:hover{
    color: #bcb8b1;
}
.shortscreen1:hover .dropdowsections2{
    display: block;
    align-items: first baseline;
}
/* Short screen pages's menu */
.dropdowpages2{
    position: absolute;
    display: none;
}
.dropdowpages2 a{
    display: block;
    background-color: #8a817c;
    align-items: center;
    width: 105px;
    text-decoration: none;
}
.dropdowpages2 a:hover{
    color: #bcb8b1;
}
.shortscreen2:hover .dropdowpages2{
    display: block;
    align-items: first baseline;
}


/* Footer*/
footer{
padding: 1px 0px 0px 0px;
height: 122px;
color: #463f3a;
background-color: #e0afa0;
margin-top: 30%;
margin-bottom: 0px;
}

button{
    background-color: #000000;

}


/* Media queries */
@media screen and (width <= 751px){
    .navlinks{
        display: none;
    }
    .shortscreen1, .shortscreen2 {
        display: inline-block;
    }
}

@media screen and (max-width: 480px){
    #smallTable{
        max-width: 400px;
        max-height: 800px;
        font-size: small;
    }
   
}
