/* Formatting the shape of how the page appear in screen  - body container*/
table {
            border: 10px solid black;
            border-collapse: collapse;
            border-style: double;
            width: fit-content; 
            height: 350px;
            margin: auto;
            padding: 25px;
        }
    caption{
            font-size: xx-large;
            }

    th {
            border-width: 3px;
            border-style: solid;
            border-color: black;
            column-width: auto;
            text-align: center;
            font: bold;
        }
        td{
            border-width: 3px;
            border-style: solid;
            border-color: black;
            text-align: center;
            font: bold;
        }
       ol{
        text-align: left;
        font-size: large;
       }
img{
    display: block; 
    margin: 30px; 
    width: 50%; 
}

/* Image Float */
.float{
    
    img{
    float: right;
}
}
.cap-placement{
    text-align: left;
}

.top {
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
}

body {
    width: 80%;
    max-width: 1200px;
    margin: auto auto 300px auto;
    background-color: rgb(168, 162, 162);
    color: rgba(165, 66, 66, 0.788);
    height: 1800px;
}

header{
    display: block;
    background-color:aliceblue;
    height: 50px;
}

ul.navlinks{
    padding-inline-start: 0px;
}
/* Setting the height of the nav bar element */
nav{
    height: 50px;
    position:static;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:slategray;
}

/* General formatting of the class 'navbar' set in the header element */
.navbar{
    position: sticky;
    top: 0px;
}

.navlinks, .navlinks1{
    list-style: none;
    display: inline-block;
    justify-items: center;
    text-align: center;
}

a:link	{
    display: inline-block;
    color: rgb(170, 44, 156);
    text-align: center;
}

a:visited{
    color: rgb(170, 44, 156);
}

a:hover{
    color: rgb(209, 31, 90);
}

.button{
    background-color: rgb(229, 158, 221);
    border: none;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
}
.pie-button{
    background-color: rosybrown;
    border-radius: 15px;
    justify-content: center;

}

#menu2.button{
    padding: 0px;
    height: 25.4px;
}
/* Internal links formating - drop down menu edit for you internal links*/
#internal-link0, #internal-link1, #internal-link2, #internal-link3, #internal-link4, #internal-link5 {
    scroll-margin-top: 60px ;
}

/* Formatting dropdown menu of the "Sections" button */
.dropdowncontent{
    position: absolute;
    display: none;
    align-items: center;
}

/* Formatting the links of the 'Sections' button */
.dropdowncontent a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowncontent a:hover{
    background-color: rgb(229, 158, 221);
}

.navlinks1:hover .dropdowncontent{
    display: block;
    align-items: first baseline;
}

/* End of Nav Bar */
/* Screen Adapt section/media queries(should be at the end) */
/* Dropdown small screen */
ul.shortscreen{
    padding-inline-start: 0px;
    position:fixed;
    right: 100px;
    
}
.shortscreen1, .shortscreen2 {
    list-style: none;
    display: none;
}

/* Short screen Section's menu */
.dropdowsections2{
    position: absolute;
    display: none;

}

.dropdowsections2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowsections2 a:hover{
    color: rgb(229, 158, 221);;
}

.shortscreen1:hover .dropdowsections2{
    display: block;
    align-items: first baseline;
}

/* Short screen pages's menu */
.dropdowpages2{
    position: absolute;
    display: none;
}

.dropdowpages2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowpages2 a:hover{
    color: rgb(229, 158, 221);;
}

.shortscreen2:hover .dropdowpages2{
    display: block;
    align-items: first baseline;
}

@media screen and (width <= 751px){
    .navlinks{
        display: none;
    }
    .shortscreen1, .shortscreen2 {
        display: inline-block;
    }
}

h1{
    font-size: xx-large;
    text-align: center;
}  
p{
    font-size: 20px;
    column-span: all;
    text-align: left;
}
ol{
    font-size: 20px;
}

/* Formatting footer.
The colours can be changed in each page */
footer{
padding: 1px 0px 0px 0px;
height: 122px;
color: white;
background-color: rgb(0, 38, 135);
margin-top: 30%;
margin-bottom: 0px;
}

/* Navbar, dropdown menu, and footer agreed upon and should be the same across all pages*/
button{
    background-color: rosybrown;
    border-radius: 15px;

}
.multi-col{
    max-width: auto;
    margin: 0 auto;
    column-width: 300px;
    column-rule: 5px solid palevioletred;
    column-gap: 20px;
}

.photo-grid{
    display: grid;
    grid-template-areas: 
    "p1  p1  p2  p2"
    "c1  c1  c2  c2"
    " .   .   .   ."
    "p3  p3   .   ."
    "p3  p3   .   ."
    "c3  d3   .   ."
    ;
    grid-template-columns: auto;
    gap: 20px;
}

#Px1{
    grid-area: p1;
    border-radius: 20px;
}
#Px2{
    grid-area: p2;
    border-radius: 20px;
}
#Px3{
    grid-area: p3;
    border-radius: 20px;
}
#Cx1{
    grid-area: c1;
}
#Cx2{
    grid-area: c2;
}
#Cx3{
    grid-area: c3;

}