/* Formatting the shape of how the page appear in screen  - body container*/
body {
    width: 80%;
    /* max-width: 1200px; */
    margin: auto;
    max-width: 1200px;
    /* margin: auto auto 300px auto; */
    background-color: rgb(168, 162, 162);
    color: rgba(165, 66, 66, 0.788);
    text-align: center;
}

/* Formatting the height of the internal main container.
changing this value will reduce or increase the blank space 
between the footer and the last line of content in the page.
id = 'container' set in the body element */
#container{
    height: auto;
}

/* Here starts the header formatting */

/* General formatting of the the header element.
The background color can be changed of each page.*/
header{
    display: block;
    background-color:aliceblue;
    height: 50px;
}

/* Setting the height of the nav bar element */
nav{
    height: 50px;
}

/* General formatting of the class 'navbar' set in the header element */
.navbar{
    position: sticky;
    top: 0px;
}

/* General configuration of the links in the nav bar.
This is setting the position of the rectangles the links are in.
It's using flexbox */
.navleft{
    position:static;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* General configuration of the ul (list) element in the nav bar */
ul.navlinks{
    padding-inline-start: 0px;
}

/* Formatting the position of the links inside the rectangles */
.navlinks, .navlinks1{
    list-style: none;
    display: inline-block;
    justify-items: center;
    text-align: center;
}

/* Formatting the color of the link.
This can be changed in each page.
It's also formatting the position */
a:link	{
    /* box-sizing: inherit; */
    display: inline-block;
    color: rgb(170, 44, 156);
    text-align: center;
}

/* Formatting the color of the link that has already been clicked.
This can be changed in each page. */
a:visited{
    color: rgb(170, 44, 156);
}

/* Formatting the color of think when you pass the mouse over it.
This can be changed in each page. */
a:hover{
    color: rgb(209, 31, 90);
}

/* General formatting of each li element inside the ul list.
The color here can be changed in each page. */
.button{
    background-color: rgb(229, 158, 221);
    border: none;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
}

/* Formatting of the cupcake image in the nav bar.
This will be removed, probably.
It is using flexbox. 
Will not be used in each page*/
#cupcakepng{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Internal links formating - drop down menu*/
#internal-link0, #internal-link1, #internal-link2, #internal-link3, #internal-link4, #internal-link5 {
    scroll-margin-top: 60px ;
}

/* Formatting dropdown menu of the "Sections" button */
.dropdowncontent{
    position: absolute;
    display: none;
    align-items: center;
}

/* Formatting the links of the 'Sections' button */
.dropdowncontent a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

/* Formatting the links of the 'Sections' button
when you pass the mouse over it.
The color can be changed in each page. */
.dropdowncontent a:hover{
    background-color: rgb(229, 158, 221);
}

/* Formatting the internal links of the drop down menu 
when you pass the mouse over it. */
.navlinks1:hover .dropdowncontent{
    display: block;
    align-items: first baseline;
}

/* Crating a menu that will appear when the screen width is <=751px */
/* All the colours in the following elements can be changed in
each page.
The media query in the end of this part is working
with all the following elements. */

ul.shortscreen{
    padding-inline-start: 0px;
    position:relative;
    right: 100px;
}
.shortscreen1, .shortscreen2 {
    list-style: none;
    display: none;
}

/* Short screen Section's menu */
.dropdowsections2{
    position: absolute;
    display: none;

}

.dropdowsections2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowsections2 a:hover{
    background-color: rgb(229, 158, 221);;
}

.shortscreen1:hover .dropdowsections2{
    display: block;
    align-items: first baseline;
}

/* Short screen pages's menu */
.dropdowpages2{
    position: absolute;
    display: none;
}

.dropdowpages2 a{
    display: block;
    background-color: lightblue;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.dropdowpages2 a:hover{
    background-color: rgb(229, 158, 221);;
}

.shortscreen2:hover .dropdowpages2{
    display: block;
    align-items: first baseline;
}

@media screen and (width <= 751px){
    .navlinks{
        display: none;
    }
    .shortscreen1, .shortscreen2 {
        display: inline-block;
    }
}

/* Here ends the header formatting */

/* Formatting of the element 'aside' - welcoming message in the top of the page. */
/* Its using flex box - Formatting the class 'top' inside the tag aside. It's the fist text that appears in my page,
before the nav bar. This was before the header element, so it were moved to after the 
header element so the header will always stick to the top of the page.*/
.top {
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
}

/* Formatting footer.
The colours can be changed in each page */
footer{
    padding: 1px 0px 0px 0px;
    height: fit-content;
    color: white;
    background-color: rgb(0, 38, 135);
    margin-top: 30%;
    margin-bottom: 0px;
    

}

footer div ul{
    list-style: none;
}
/* Navbar, dropdown menu, and footer agreed upon and should be the same across all pages*/
 
h1{
    font-size: 30px;
    text-align: center;
}
nav{
    font-size: 15px;
    background-color: slategrey;
}

a:link{
        color: pink;
    }    
a:visited{
        color: rgb(117, 79, 86);
    }

p{
    font-size: 20px;
}
ol{
    font-size: 20px;
}
table {
            border: 10px solid black;
            border-collapse: collapse;
            border-style: double;
            width: fit-content; 
            height: 350px;
            margin: auto;
            padding: 25px;
        }
    caption{
            font-size: xx-large;
            }

    th {
            border-width: 3px;
            border-style: solid;
            border-color: black;
            column-width: auto;
            text-align: center;
            font: bold;
        }
        td{
            border-width: 3px;
            border-style: solid;
            border-color: black;
            text-align: center;
            font: bold;
        }
       ol{
        text-align: left;
        font-size: large;
       }
img{
    display: block; 
    margin: 30px; 
    width: 50%; 
}
.cap-placement{
    text-align: left;
}

button{
    background-color: rosybrown;
    border-radius: 15px;

}