/* header */
header{
    justify-content: center;
    background-color:#bcb8b1;
    position: sticky;
    top: 0px;
    width:100%;
    z-index: 2;
    height: 84px;
}

header h1 {
    display:none;
}

/* nav bar */
header div .col {
    margin-left: 2%;
}

header ul {
    list-style: none;
    margin: 2px;
}

header ul li {
    width:max-content;
    padding: 0% 10% 0% 10%;
}

#MonaProfile, #TenleyProfile, #MaxwellProfile, #RockyProfile {
    width: 46px;
    height: 46px;
}

nav{
    margin-left:25%;
}

a:link	{
    display: inline-block;
    color: #f4f3ee;
    text-align: center;
}

a:visited{
    color: #f4f3ee;
}

li a:hover{
    color: #8b4513;
}

div a:hover{
    color: #8b4513;
}

ul.navlinks{
    padding-inline-start: 0px;
}


/* side bar */
.sidebar{
    height: 100%; 
    width: 30%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gray; 
    overflow-x: hidden; 
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left:10px;
    padding-right:10px;
    overflow-y:hidden ;
}

.sidebar .row{
    padding-top:10px;
}

.container{
    margin-top:20px;
    margin-bottom:200px;
}


/* main content */
main{
    padding-left:35%;
    padding-top:45px;
    width:95%;
    margin-bottom:40%;
}

h3{
    padding-bottom:20px;
}

#myCarousel{
    width:300px;
    float:right;
    z-index: 0;
    padding-left: 20px;
    padding-right:20px;
}

/* footer */
footer{
    padding-left:20px;
    padding-top:20px;
    background-color: #8b4513;
    position:fixed;
    bottom:0;
    width:100%;
    color:white;
    z-index: 2;
}


/* shortscreen navs*/
.button{
    background-color: #8b4513;
    border: none;
    border-radius: 10px;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    display: inline-block;
    width: 95px;
    
}

.navlinks1 {
    display:none;
}

.navlinks1 a{
    color:#f4f3ee;
}
.navlinks1 a:hover{
    color:#bcb8b1;
}

ul.shortscreen{
    padding-inline-start: 0px;
    position:fixed;
    padding-top:15px;
    display:flex;
    flex-flow: row;
}

.shortscreen2 {
    list-style: none;
    display: none;
}

.dropdowpages2{
    position: absolute;
    display: none;
}

.dropdowpages2 a{
    display: block;
    background-color: #8a817c;
    align-items: center;
    width: 105px;
    text-decoration: none;
}

.shortscreen2:hover .dropdowpages2{
    display: block;
    align-items: first baseline;
}


/* media queries */
@media screen and (width <= 1300px){
    .sidebar{
        padding-top:60px;
    }
}
@media screen and (width <= 1000px){
    .navigation{
        display: none;
    }
    header h1{
        display:inline-block;
    }
    .navlinks1{
        display:inline-block;
    }
    .shortscreen1, .shortscreen2 {
        display: inline-block;
    }

    #myCarousel{
        padding-bottom:20px;
        width:95%;
    }
        
    .sidebar{
        padding:100px 0px 0px 0px;
        overflow: scroll;
    }
    .row{
        padding-top:0px;
    }
    .card{
        width:150px;
    }

}

@media screen and (width <= 600px) {
    header{
        padding-left:180px;
    }
    ul.shortscreen{
        left:10px;
    }

    .card{
        width:100%;
    }
    .card-title{
        display:none;
    }
    
    #myCarousel{
        padding-left:0px;
        padding-right:0px;
        width:100%;
    }

}